// ##### Test Styles for Gulp Template ##### //

@import '/vendor/normalize';
@import 'print';

$bg-color: '#009933';
$flexbox-color: '#cc00cc';

.testing-sass {
  width: percentage(5 / 7);
}

body {
	background-color: $bg-color;
}

.disappear-container {
	display: flex;
}

.disappear {
	cursor: pointer;
	margin: 0 20px 0 0;
}

.no-flexbox .disappear {
	color: $flexbox-color;
	float: left;
}

.bold {
	font-weight: bold;
}

.canvas {
	border: none;
}

.touchevents {
	border: none;
}
