// ##### Test Styles for Gulp Template ##### //

@import 'vendor/normalize';
@import 'print';

$bg-color: #093;
$flexbox-color: #c0c;

.testing-sass {
  width: percentage(5 / 7);
}

body {
	background-color: $bg-color;
}

.disappear-container {
	display: flex;
}

.disappear {
	margin: 0 20px 0 0;
	cursor: pointer;
}

.no-flexbox .disappear {
	float: left;
	color: $flexbox-color;
}

.canvas {
	border: none;
}

.touchevents {
	border: none;
}
